<div class="row">
  <nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "All Users", users_path %></li>
      <li><%= link_to "Friends (#{current_user.friends.count})", friends_path %></li>
      <li><%= link_to "Friend Requests", friend_requests_path %></li>
      <li><%= link_to "Find Friends", find_friends_path %></li>
    </ul>
  </nav>
</div>