@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #3b5998;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



/* universal */

body {
  padding-top: 60px;
  background-color: #edf0f5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

td {
	padding: 0 5px;
}

.container {
	max-width: 1000px;
}



/* header */

#logo {
	position: absolute;
	top: 25%;
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

header label {
	font-weight: normal;
	color: white;
	margin: 2px 0px;
	font-size: 12px;
}

header a {
	color: white;
	font-size: 12px;
  &:hover {
    color: white;
    text-decoration: none;
  }	
}

#login_with_facebook img {
	height: 35px;
	width: auto;
	border: 1px;
	border-style: solid;
	border-color: #fff;
	margin-top: 2px;
}

.navbar {
	background-color: #3b5998;
	margin-bottom: 0px;
}

.navbar li a {
	font-weight: bold;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 12px;
  &:hover {
    background-color: #0e1f5b;
    text-decoration: none;
  }		
}

.fb-icon {
	height: 50px;
	width: auto;
}

#notification {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  background: -webkit-linear-gradient(#fa3c45, #dc0d17); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fa3c45, #dc0d17); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fa3c45, #dc0d17); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fa3c45, #dc0d17); /* Standard syntax */ 
  color: #fff;
  min-height: 13px;
  padding: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 65px;
  top: 5px;
}



/* signup */

.product_head {
	font-weight: bold;
	margin-bottom:30px;
}

.signup_head {
	font-size: 40px;
	font-weight: bold;
}

.signup_desc {
	font-size: 20px;
	margin-bottom: 30px;
}

.product {
	padding: 10px 0px;
}


.navbar-navigation {
	margin-bottom: 0px;
}


.form-control {
	margin-bottom: 10px;
}

.name {
	display: inline;
	width: 188px;
}

.right {
	float: right;
}

.btn-signup {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: -webkit-linear-gradient(#67ae55, #578843); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#67ae55, #578843); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#67ae55, #578843); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#67ae55, #578843); /* Standard syntax */  
  box-shadow: inset 0 1px 1px #a4e388;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  border: 1px solid;
  border-radius: 4px;
  border-color: #3b6e22 #3b6e22 #2c5115;
  line-height: 126%;
  width: 194px;
  margin: 10px 0;
  padding: 7px 20px;
  &:hover {
    opacity: 0.9;
   }
}



/* sidebar */

.side-bar ul {
  list-style-type: none;
  padding: 0;  
}



/* post */

.post-form {
  border-radius: 3px;
  border-color: #d3d6db;
  margin-bottom: 30px;
  text-align: right;
}

.feed ul{
  list-style-type: none;
  padding: 0;
}

.post {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
}

.post > div {
  margin-bottom: 20px;
}

.post-details > div {
  display: inline-block;
}

.post-like-and-comment {
  background-color: #f6f7f8;
}

.comment-form {
  padding: 5px;
  text-align: right;
}

.like-info {
  margin-bottom: 10px;
}