<%= render 'users/shared/profile_banner', object: @user %>

<% if access_level?(current_user, @user)[:familiar] %>

<%= render 'profile/profile' %>

<% else %>

	<% if access_level?(current_user, @user)[:accessible] %>

	<%= render 'profile/profile' %>

	<% else %>

		<div><%= "#{@user.first_name} only shares profile and posts with friends." %></div>

	<% end %>

<% end %>